<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ballAc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,180},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>ballAc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,124},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>ballAc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,68},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>ballAc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,997},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,397},{71,89}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,229},{71,89}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,493}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,493}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,740},{157,165}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,198},{157,165}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1055},{247,239}}</string>
                <key>offset</key>
                <string>{-13,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,169},{247,239}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,740},{337,313}}</string>
                <key>offset</key>
                <string>{-11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,140},{337,313}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{427,387}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,110},{427,387}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1055},{317,293}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,111},{317,293}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,397},{375,341}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,84},{375,341}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{427,393}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{427,393}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{471,447}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{471,447}}</string>
                <key>sourceSize</key>
                <string>{501,497}</string>
            </dict>
            <key>chui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,497},{25,32}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{25,32}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>chui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,997},{45,56}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{45,56}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>chui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{55,64}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{55,64}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>chui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,573},{69,62}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{69,62}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>chui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,488},{83,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>chui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,907},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>chui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,907},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameAc.png</string>
            <key>size</key>
            <string>{991,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af1895c6e52f883c7d8f76094c8f875d:1/1$</string>
            <key>textureFileName</key>
            <string>gameAc.png</string>
        </dict>
    </dict>
</plist>
