<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boom3_000000</key>
      <dict>
        <key>frame</key>
        <string>{{83,270},{29,28}}</string>
        <key>offset</key>
        <string>{2.00,-1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>boom3_000001</key>
      <dict>
        <key>frame</key>
        <string>{{83,224},{49,46}}</string>
        <key>offset</key>
        <string>{2.00,-1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>boom3_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{83,78}}</string>
        <key>offset</key>
        <string>{2.00,-1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>boom3_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{119,112}}</string>
        <key>offset</key>
        <string>{1.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>boom3_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,112}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boom3.png</string>
      <key>size</key>
      <string>{222,312}</string>
      <key>textureFileName</key>
      <string>boom3.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>boom3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45378</real>
        <key>anchorY</key>
        <real>0.55000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
    </dict>
  </dict>
</plist>