<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamePic_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
      <key>gamePic_000001</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{40,332}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{38,330}</string>
      </dict>
      <key>gamePic_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,841},{54,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,54}</string>
      </dict>
      <key>gamePic_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{91,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{89,37}</string>
      </dict>
      <key>gamePic_000004</key>
      <dict>
        <key>frame</key>
        <string>{{54,841},{53,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gamePic.png</string>
      <key>size</key>
      <string>{582,902}</string>
      <key>textureFileName</key>
      <string>gamePic.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>bg1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>board</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>bonus</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>circle</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>hero</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
    </dict>
  </dict>
</plist>